{% extends 'base/base.html' %}

{% block title %}Register{% endblock %}

{% block nav %}
    {% include 'base/nav_base.html' with to_show=True  %}
{% endblock %}

{% block vertical_nav %}{% endblock %}

{% block content %}
    <div id="stars"></div>

    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          There was an error with your registration. Please try again.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <div class="card auth-form" style="width: 24rem;">
        <div class="card-body">
            <h3 class="card-title mb-4">Register</h3>

            <form action="/members/register" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="d-grid mb-4 pt-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

                <div class="mb-4">
                    <p>
                        Already have an account?
                        <a href="/members/login">Login</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="/static/js/stars.js"></script>
{% endblock %}