{% extends 'base/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block nav %}
    {% include 'base/nav_base.html' with to_show=True  %}
{% endblock %}

{% block vertical_nav %}{% endblock %}

{% block content %}
    <div id="stars"></div>

    <div class="card  auth-form" style="width: 24rem;">
        <div class="card-body">
            <h3 class="card-title mb-4">Forgot Password</h3>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}
<!--                <div class="mb-3">-->
<!--                    <input class="form-control" id="username" name="username" placeholder="Username"/>-->
<!--                </div>-->

<!--                <div class="mb-3">-->
<!--                    <input type="password" class="form-control" id="new-password" name="new-password" placeholder="New Password"/>-->
<!--                </div>-->

<!--                <div class="mb-3">-->
<!--                    <input type="password" class="form-control" id="repeat-new-password" name="repeat-new-password" placeholder="Repeat New Password"/>-->
<!--                </div>-->

                <div class="d-grid mb-3 pt-2">
                    <button class="btn btn-primary" type="submit">Change Password</button>
                </div>

                <div class="mt-3">
                    <a href="/members/login">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="/static/js/stars.js"></script>
{% endblock %}