{% extends 'base/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="profile-info mt-3">
        {% include 'profile/profile_card.html' %}

        {% if user.is_authenticated and user.username == member.username %}
            {% include 'posts/create_post_form.html' %}
        {% endif %}

        {% include 'posts/post_cards.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/carousels.js"></script>
    <script src="/static/js/action_menu.js"></script>
{% endblock %}