<div class="bottom-nav">
    <ul class="navbar-nav nav-flex-row">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/members/discover/">
                <i class="bi bi-heart-fill"></i>
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/members/profile/{{ user.username }}#recommendations">
                    <i class="bi bi-stars"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/profile/{{ user.username }}">
                    <i class="bi bi-person-fill"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/logout">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/members/register">
                    <i class="bi bi-person-add"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/members/login">
                    <i class="bi bi-person-fill-check"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>