<nav class="navbar navbar-expand-lg">
    <div class="nav-container {% if to_show %}m-0 p-0{% endif %}">
        <div class="d-flex justify-content-between">
            {% if to_show %}
                <div class="collapse navbar-collapse d-flex justify-content-start" id="navbarNavDropdown">
                    <ul class="navbar-nav auth-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/members/discover/">Знайомства</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/members/register">Зареєструватися</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/members/login">Увійти</a>
                        </li>
                    </ul>
                </div>
            {% endif %}

            {% if not to_show %}
                <div class="navbar-collapse nav-posts">
                    <ul class="navbar-nav nav-block">
                        <li class="nav-item">
                            <a class="nav-link nav-top-link" aria-current="page" href="/members/discover/">Знайомства</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link nav-top-link" aria-current="page" href="/members/profile/{{ user.username }}">Профіль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-top-link" aria-current="page" href="{% url 'dialog_list' %}">Діалоги</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

            <div class="navbar-collapse d-flex justify-content-end"></div>
        </div>
    </div>
</nav>